[submodule "external/cppformat"]
	path = external/cppformat
	url = https://github.com/cppformat/cppformat.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/sdl2_gfx"]
	path = external/sdl2_gfx
	url = https://github.com/svn2github/sdl2_gfx.git
[submodule "external/boost-compute"]
	path = external/boost-compute
	url = git@github.com:boostorg/compute.git
